.galeria {
  padding-top: 30px;
  padding-bottom: 20px;
  max-width: 1600px;
}
.galeria-container {
  display: flex;
  wrap: nowrap;
  gap: 20px;
  justify-items: center;
}
.galeria-container img {
  max-width: 280px;
  border-radius: 8px;
}

/* ------------------- RESPONSIVO ------------------- */
@media (max-width: 850px) {
  .galeria {
    padding-top: 0px;
  }
  .galeria-container {
    gap: 12px;
  }
}
