.container {
  margin: 0 auto;
  max-width: 1200px;
}

/* padrão para títulos de seção */
h3 {
  font: 500 2.625rem/1 "Poppins", sans-serif;
  letter-spacing: 1%;
  margin-bottom: 40px;
  margin-left: 30px;
}

h3 span {
  color: var(--cor-p1);
}
