.historia {
  display: grid;
  grid-template-columns: 3fr 1fr;
  /* padding-top: 60px; */
  /* margin-bottom: 20px; */
  position: relative;
  top: -40px;
}
.empty-cell {
  height: 40px;
  /* border: solid red 1px; */
}
.historia h3 {
  margin-top: 60px;
}
.historia-imagem {
  grid-row: 1 / 3;
  grid-column: 2;
  max-width: 280px;
  border-radius: 8px;
}
.historia-conteudo {
  grid-column: 1;
  grid-row: 2;
}
.historia-container img {
  max-width: 280px;
  border-radius: 8px;
}
.historia p span {
  color: var(--cor-p1);
  font-weight: 700;
}
.historia-texto {
  display: flex;
  flex-direction: column;
}
.historia-texto a {
  display: inline-block;
  color: var(--cor-p3);
  font-size: 1rem;
  text-align: right;
}

/* --------------------- RESPONSIVO ------------------- */

@media (max-width: 1200px) {
  .historia {
    margin-top: 60px;
    margin-left: 8px;
  }
  .historia h3 {
    margin-top: 0px;
  }
  .historia-imagem {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 850px) {
  .historia {
    grid-template-columns: 1fr;
    margin-right: 8px;
    margin-top: 40px;
  }
  .historia img {
    display: none;
  }
  .historia-texto p {
    font-size: 1.125rem;
  }
}
@media (max-width: 500px) {
  .historia-texto p {
    font-size: 1rem;
  }
  .historia-texto a {
    font-size: 0.875rem;
  }
}
