.uep {
  background-color: var(--cor-c3);
  box-shadow: inset 0px -40px var(--cor-w1);
  margin-top: 60px;
  margin-bottom: 20px;
}
.uep h3 {
  color: var(--cor-w1);
  padding-top: 60px;
}
.uep-lista {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  height: 124px;
  margin: 0px auto;
  margin-bottom: 60px;
}
.uep-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: var(--cor-p2);
  border-radius: 4px;
  min-width: 96px;
  height: 116px;
  cursor: pointer;
}
.uep-item img {
  height: 60%;
}
.uep-descricao {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  margin-left: 8px;
  margin-right: 8px;
}
.uep-descricao img {
  width: 100%;
}
.uep-item:hover {
  background-color: var(--cor-p1);
  width: 100px;
  height: 124px;
  transition: 0.3s;
}
.uep-item:not(:hover) {
  transition: 0.3s;
}
.none {
  display: none;
}
/* ------------------- RESPONSIVO ------------------- */
@media (max-width: 1000px) {
  .uep h3 {
    padding-top: 30px;
    margin-bottom: 20px;
  }
  .uep-descricao p {
    font-size: 1.25rem;
    padding-left: 8px;
  }
  .uep-lista {
    margin-bottom: 20px;
  }
  .uep-item {
    min-width: 80px;
    height: 100px;
  }
  .uep-item:hover {
    min-width: 88px;
    height: 110px;
  }
}
@media (max-width: 850px) {
  .uep {
    margin-top: 40px;
    padding-bottom: 20px;
  }
  .uep-descricao p {
    font-size: 1.125rem;
  }
}

@media (max-width: 700px) {
  .uep {
    box-shadow: inset 0px 0px var(--cor-w1);
  }
  .uep-descricao img {
    display: none;
  }
}
@media (max-width: 500px) {
  .uep-descricao p {
    font-size: 1rem;
  }
}
